div#halfpage{
    height: 600px;
    width: 167;
    /* border:2px solid #000; */
    overflow-y: auto;
    }
    svg#sky {
      width: 150;
      /* border:1px dotted #ccc;
      background-color: #ccc; */
   }